h1{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold !important;
    display: flex;
    align-items: center;
    color: #0071BD !important;
}

p{
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.tcdLogo{
    width: 10%;
}


.nav-link {
    color:#0071BD !important;
}


.tcd-skip {
    position: absolute;
    margin-left: 50%;
    margin-right:auto;
    font-weight: bold;
    background-color: white;
    color: #0071BD;
    top: -10%;
}

.tcd-skip:focus{
    top:0;
}

.rounded-pill{
    border: 2px solid #0071BD !important;
    border-radius: 20px !important; 
}

.rounded-button{
    border-radius: 20px !important;
}