h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold !important;
    display: flex;
    align-items: center;
    color: #0071BD !important;
}

h2{
    font-family: Source Sans Pro;
    font-style:normal;
    font-weight: blod;
    display: flex;
    color: #9590A0 !important;
}

p {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.tcdLogo {
    width: 20%;
}

.ml-8{
    margin-left: 4.76%;
}

.ml-13{
    margin-left: 13%;
}

.ml-23{
    margin-left:23.87%;
}

.ml-center{
    left:50%;
}

.logo{
    margin-left:10%;
    width:20%;
}

.followButton{
    margin-left:10%;
    width: 20%;
}

.mt-customize{
    margin-top: 4% !important;
}

.nav-link {
    color: #0071BD !important;
}

.tcd-skip {
    position: absolute;
    margin-left: 50%;
    margin-right: auto;
    font-weight: bold;
    background-color: white;
    color: #0071BD;
    top: -10%;
}

.tcd-skip:focus {
    top: 0;
}

.rounded-pill {
    border: 2px solid #0071BD !important;
    border-radius: 20px !important;
}

.rounded-button {
    border-radius: 20px !important;
}

.menu {
    background-color: #0071BD;
    border-radius: 25px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    text-align: center;
}

.bgColor{
    color:white !important;
    background-color:#0071BD !important;
}
.medialink {
    text-align: center;
}

.mainImage{
    width: 50% !important;
}