<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Trinity Innovation Hub</title>
</head>

<body>
    <!-- NAVIGATION BAR START -->
    <%- include("nav", {active: "Home"}) %>
        <!-- NAVIGATION BAR END-->
            <!-- HEADER START -->
            <div class="text-center">
                <img src='fitness_graphic_desktop.png' class=' h-50 img-fluid ' alt='breathing space and mug'>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <div class="p-2 align-self-center">

                </div>
                <div class='p-2 align-self-center'>

                </div>
            </div>
            <!-- HEADER END -->

            <!-- MENU START -->
            <div class="d-flex justify-content-center mb-3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2CUvrojSM6w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- MENU END -->
                <!-- MEDIA LINKS START -->
                <div class=' w-50 p-3 align-self-start medialink'>
                    <h3><i> For Pricing </i></h3>
                    <button class="btn btn-primary">Contact Us</button>
                    <!-- VIDEO HERE -->
                </div>
                <!-- MEDIA LINKS END -->
            </div>
</body>

</html>