<!-- NAVIGATION START -->
<a class="tcd-skip" href="#maincontent">Skip to main content</a>
<div class="container-md ml-8">
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:transparent">
    <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
        <img class="navbar-brand tcdLogo" src="Trinity_Main_Logo.svg" alt="Trinity Logo">
        <ul class="navbar-nav ml-13">
            <li class="nav-item active">
                <a <%if(active=="Home" ){%>class="active nav-link"<%}%> class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            BreathingSpace
                        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/coffee">Coffee shop</a>
                    <a class="dropdown-item" href="/gym">Gym</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
            </li>
        </ul>
        <div class="navbar navbar-item btn-group-vertical ml-23" role="group" aria-label="First Group">
            <button class="btn btn-sm bgColor mb-1">Login</button>
            <button class="btn btn-sm bgColor">Sign Up</button>
        </div>
    </div>
</nav>
</div>
<!-- NAVIGATION END-->