<!-- NAVIGATION START -->

<script src="JavaScript/script.js"></script>
<a class="tcd-skip" href="#maincontent">Skip to main content</a>
<div class="container-md ml-8">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:transparent">
        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
            <img class="navbar-brand tcdLogo" src="Trinity_Main_Logo.svg" alt="Trinity Logo">
            <ul class="navbar-nav ml-13">
                <li class="nav-item active">
                    <a <%if(active=="Home" ){%>class="active nav-link"<%}%> class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/coffee">Coffee shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/gym">Gym</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <div class="navbar navbar-item btn-group-vertical ml-23" role="group" aria-label="First Group">
                <% if(typeof sessionUsername!=='undfeined'&&sessionUsername!=null){%>
                    <a href="/logout" class="btn btn-sm bgColor mb-1" role="button">Logout</a>
                <%}else{%>
                    <button class="btn btn-sm bgColor mb-1" onclick=login() data-target="#login">Login</button>
                <%}%>
            </div>
        </div>
    </nav>
</div>
<!-- NAVIGATION END-->

<main role="main" id="maincontent">
</main>
    