<!-- NAVIGATION START -->
<script src="JavaScript/script.js"></script>
<a class="tcd-skip" href="#maincontent">Skip to main content</a>
<div class="container-md ml-8">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:transparent">
        <img class="navbar-brand tcdLogo" src="Trinity_Main_Logo.svg" alt="Trinity Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a <%if(active=="Home" ){%>class="active nav-link"<%}%> class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/coffee">Coffee shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/gym">Gym</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar navbar-item btn-group-vertical ml-23" role="group" aria-label="First Group">
            <% if(typeof sessionUsername!=='undfeined'&&sessionUsername!=null){%>
                <a href="/profile" class="btn btn-sm bgColor mb-1" role="button">Profile</a>
                <a href="/logout" class="btn btn-sm bgColor mb-1" role="button">Logout</a>
                <%}else{%>
                    <button class="btn btn-sm bgColor mb-1" onclick=login() data-target="#login">Login</button>
                    <%}%>

        </div>
    </nav>
</div>
<!-- NAVIGATION END-->

<main role="main" id="maincontent">
</main>