<!-- NAVIGATION START -->
        <a class="tcd-skip" href="#maincontent">Skip to main content</a>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:transparent">
            <img class="navbar-brand tcdLogo" src="Trinity_Main_Logo.jpg" alt="Trinity Logo">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a <%if(active=="Home"){%>class="active nav-link"<%}%> class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            BreathingSpace
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Coffee shop</a>
                            <a class="dropdown-item" href="#">Gym</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Live Event
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Streaming</a>
                            <a class="dropdown-item" href="#">Partners</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">contact</a>
                    </li>
                </ul>
                <div class="btn-group-vertical" role="group" aria-label="First Group">
                    <button class="btn btn-primary mb-1">Login</button>
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </nav>
<!-- NAVIGATION END-->
